@{
    Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2> Add a new Stylist</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.First_Name)
    @Html.TextBoxFor(model => model.First_Name)
    <br>
    @Html.LabelFor(model => model.Last_Name)
    @Html.TextBoxFor(model => model.Last_Name)
    <br>
    @Html.LabelFor(model => model.Specialty)
    @Html.TextBoxFor(model => model.Specialty)
    <br>
    <input type="submit" value="Add Stylist">
}

<p>@Html.ActionLink("Back to Stylists", "Index")</p>