@{
    Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>@Html.DisplayFor(model => model.First_Name) @Html.DisplayFor(model => model.Last_Name) Details</h2>
<hr />
<h4>Styling Specialities: @Html.DisplayFor(model => model.Specialty)</h4>

<p>@Html.ActionLink("Update Information", "Edit", new {id = Model.StylistId})</p>
<p>@Html.ActionLink("Delete this Stylist", "Delete", new {id = Model.StylistId})</p>
<p>@Html.ActionLink("Back to Stylist List", "Index")</p>